{
  "printWidth": 100,
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*rc",
      "options": {
        "parser": "json"
      }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss"]
}
